<html>
	<head>
		<title>JCE Registration Site</title>	
	</head>

	<body>
		<h2>Please provide your email and password</h2>
		<form action="/login/" method="POST" id="login_form">
			<h3>
				<p>
					email: 
					<input required type="text" name="email">
				</p>
				<p>
					password: 
					<input required type="text" name="password">
				</p>
				<p>
					<input type="submit">
				</p>
			</h3>
		</form>
		<p>Back to <a href="/start">start page</a></p>
	</body>

</html>