<html>
	<head>
		<title>JCE Registration Site</title>	
	</head>

	<body>
		<h2>Please provide the email address to recover</h2>
		<form action="/recover/" method="GET" id="recovery_form">
			<h3>
				<p>
					Email address: 
					<input required type="text" name="email">
				</p>
				<p>
					<input type="submit">
				</p>
			</h3>
		</form>
	</body>

</html>