<html>
	<head>
		<title>JCE Registration Site</title>	
	</head>
	<body>
		<div>
			<h1>JCE Registration</h1>
		</div>
		<div>
			<h3>Choose an action from the following</h3>
			<ul style="font-size:23px">
   				<li><a href="/login">Login</a></li>
  				<li><a href="/register">Register to site</a></li>
  				<li><a href="/recover">Recover Password</a></li> 
  				<li><a href="/remove">Remove Me</a></li>
  				<li><a href="/showall">Show All</a></li>
  				<li><a href="/logout">Logout</a></li>
  				<li><a href="/quit">Quit</a></li>
			</ul>
		</div>
	</body>
</html>